*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornsilk;
    font-size: 50px;
   
img{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
}
}
.logo img{
    width: 50%;
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
}
.banner{
    background: url(..//images/logo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
    height: 250px;
}
h3{
    text-align: center;
    padding: 30px;
    color: blue;
    font-size: xx-large;
}
.welcome{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    width:90%;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.follow{
    margin: 15px;
    text-align: center;
}
.jet{
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}
.sit{
    text-align: center;
    margin-bottom: 5px;
}
.account{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.acount button{
    margin-top: 20px;
}
form{
    width: 60%;
    margin: 20px auto 50px;
}
form input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid grey;
    background-color: bisque;
}
button{
    padding: 5px 5px;
    font-size: 50px;
    border-radius: 10px;
    background-color: lightblue;
}
.down{
    text-align: center;
}
footer{
    color: black;
    padding: 20px 0;
    text-align: center;
}
.container{
    text-align: center;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}
.messenger{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.messenger form input{
    width: 100%; 
    background-color: bisque;
}
.box{
    margin-right: 75%;
}
@media(max-width:530px) {
    .banner{
    background: none;
    padding: 250px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 100%;
    height: 250px;
    }
}
@media (max-width:1185px){
    .contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}
}
